/* Debug */


/* /Debug */


/* Common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
}

.pos-rel {
    position: relative;
}

.text-green {
    color: green;
}


/* NAV */

nav>ul {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    margin: 30px;
}

li {
    display: inline-block;
    padding: 30px;
    list-style: none;
    background-color: white;
    border-radius: 50%;
}

nav a {
    display: inline-block;
    position: relative;
    padding: 1em;
    margin: -1em;
    font-size: 30px;
    text-decoration: none;
    color: black;
}


/* Main */

section {
    height: 100vh;
}

.img-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    font-size: 44px;
    color: yellow;
}

#first {
    background-color: red;
}

#second {
    background-color: green;
}

#third {
    background-color: yellow;
}